<ul ng-class="{nav: true, 'navbar-nav': true, 'navbar-right': $ctrl.alignRight}">
	<li ng-class="{dropdown: true, open:$ctrl.open}">
	  <a href="#" ng-click="$ctrl.open = !$ctrl.open"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{$ctrl.title}} <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <li ng-repeat="item in $ctrl.items"><a href="#" ng-click="$ctrl.select(item); $ctrl.open = false">{{item}}</a></li>
	  </ul>
	</li>
</ul>
