<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" ng-if="!$ctrl.editing()">{{$ctrl.contact.fullName}}</h3>
      <form class="form" ng-if="$ctrl.editing()" ng-submit="$ctrl.submit($ctrl.contact)">
        <input autofocus type="text" class="form-control" placeholder="Name" ng-model="$ctrl.contact.fullName" ng-change="$ctrl.update($ctrl.contact)" ng-model-options="{ updateOn:  'default blur', debounce: { 'default': 300, 'blur': 0 } }">
      </form>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3" style="text-align: center;">
          <img class="img-circle" ng-src="{{$ctrl.contact.avatarUrl}}" />
          <br><br>
          <div class="btn-group-vertical" role="group" aria-label="..." ng-if="!$ctrl.editing()">
            <button type="button" class="btn btn-warning" ng-click="$ctrl.edit=true">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.delete($ctrl.contact)">Delete</button>
          </div>
        </div>
        <div class="col-xs-9">
          <table class="table table-user-information" ng-if="!$ctrl.editing()">
            <tbody>
              <tr><td>Birthday</td><td>{{$ctrl.contact.birthdate | date:'longDate'}}</td></tr>
              <tr><td>Gender</td><td>{{$ctrl.contact.gender}}</td></tr>
              <tr><td>Address</td><td>{{$ctrl.contact.address}}</td></tr>
              <tr><td>Email</td><td><a href="mailto:{{$ctrl.contact.email}}">{{$ctrl.contact.email}}</a></td>
            </tbody>
          </table>
          <form class="form" ng-if="$ctrl.editing()" ng-submit="$ctrl.submit($ctrl.contact)">
            <table class="table table-user-information">
              <tbody>
                <tr><td>Birthday</td><td><input type="text" class="form-control" ng-model="$ctrl.contact.birthdate" ng-change="$ctrl.update($ctrl.contact)" ng-model-options="{ updateOn:  'default blur', debounce: { 'default': 300, 'blur': 0 } }"></td></tr>
                <tr><td>Gender</td><td>
                  <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="$ctrl.contact.gender" value="Male" ng-change="$ctrl.update($ctrl.contact)" ng-model-options="{ updateOn:  'default blur', debounce: { 'default': 300, 'blur': 0 } }"> Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="$ctrl.contact.gender" value="Female" ng-change="$ctrl.update($ctrl.contact)" ng-model-options="{ updateOn:  'default blur', debounce: { 'default': 300, 'blur': 0 } }"> Female
                  </label>
                </td></tr>
                <tr><td>Address</td><td><input type="text" class="form-control" ng-model="$ctrl.contact.address" ng-change="$ctrl.update($ctrl.contact)" ng-model-options="{ updateOn:  'default blur', debounce: { 'default': 300, 'blur': 0 } }"></td></tr>
                <tr><td>Email</td><td><input type="email" class="form-control" ng-model="$ctrl.contact.email" ng-change="$ctrl.update($ctrl.contact)" ng-model-options="{ updateOn:  'default blur', debounce: { 'default': 300, 'blur': 0 } }"></td>
              </tbody>
            </table>
            <input type="submit" class="hide">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
